@media screen and (max-width:576px){
    
    .title{
        font-size: 2rem;
        font-weight: 700;
    }
    /* nav */
    .hamburger{
        color: #FFF;
        display: block;
        font-size: 2rem;
    }
    nav{
        padding:52px 20px 0;
        /* padding-top: 52px; */
    }
    ul>a{
        display: none;
    }
    /* banner */
    .banner{
        flex-direction: column;
    }
    .banner-text>h1{
        font-size: 2.6rem;
        max-width: 285px;
        
    }
    .banner-text{
        padding: 20px;
        margin-top: 50px;
    }
    #miama{
        font-size: 4rem;
    }
    .banner-btn>button{
        padding: 16px 20px;
        font-weight: 400;
        font-size: 1rem;
    }
    .banner-img{
        /* padding: 10px; */
    }
    .absolute-2{
        padding: 14px 18px;
        top: 29%;
        right: 4%;
    }
    .absolute-2>h4{
        font-size: 2rem;
        font-weight: 800;
    }
    .absolute-1{
        bottom: 8%;
        left: -3%;
    }
    /* habbit */
    .habit-card-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .habit>p{
        padding: 5px;
    }
    /* running */
    .running{
        flex-direction: column;
    }
    .running-img>img{
        object-position: 66% 28%;
    }
    .running-text>div>button{
        width: 100%;
        margin-bottom: 31px;
    }
    .bmi-container{
        flex-direction: column;
        padding: 10px;
        align-items: start;
    }
    .bmi-title{
        padding: 10px;
        margin-top: 1.4rem;
        margin-bottom: 2rem;
    }
    .bmi-table>h4{
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 22px;
    }
    .bmi-input>h4{
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 22px;
        margin-top: 1rem;
    }
    /* team */
    .team-pic-grid{
        grid-template-columns: 1fr;
    }
    .team-member>h5{
        font-weight: 500;
        font-size: 1.3rem;
    }
    /* unique */
    .card-container{
        grid-template-columns: 1fr;
    }
    .card{
        padding: 10px;
    }
    .unique{
        padding: 10px;
    }
    .faq-flex{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .faq-search>input{
        margin-bottom: 1rem;
    }
    .card:hover{
        transform: scale(1.01);
    }
    /* footer */
    .footer-container{
        flex-direction: column;
        padding: 20px;
        gap: 1.4rem;
    }
}